body{
    background-color:#fff
}
#auth{
    height:200vh;
    overflow-x:hidden
}
#auth #auth-right{
    height:80%;
    background:url(../../images/bg/CESBA.jpg),linear-gradient(deg,#2d499d,#3f5491)
}
#auth #auth-left{
    padding:2rem 4rem
}
#auth #auth-left .auth-title{
    font-size:2rem;
    margin-bottom:1rem;
}
#auth #auth-left .auth-subtitle{
    font-size:1.7rem;
    line-height:2.5rem;
    color:#a8aebb
}
#auth #auth-left .auth-logo{
    margin-bottom:1rem
}    
#auth #auth-left .auth-logo img {
    height:10rem
}
@media screen and (max-width:767px){
        #auth #auth-left{
            padding:4rem
    }
}
